@import 'variables';

.section-title {
  position: relative;
  .section-title-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    path {
      stroke: $accent-5;
    }
    .front {
      path {
        stroke-width: 5px;
        opacity: .35;
      }
    }
    .back {
      path {
        stroke-width: 1px;
        opacity: .5;
      }
    }
  }
  .section-title-heading {
    text-transform: uppercase;
    font-weight: bold !important;
    letter-spacing: 12px;
    text-align: center;
  }
  .section-title-copy {
    text-align: center;
    margin: 25px auto;
    max-width: 650px;
  }
}
