@import 'variables';

.toc {
  display: none;
}


@media (min-width: 800px) {
  .toc {
    max-width: 350px;
    display: block;
    background-color: $neutral-11;
    padding: 0;
    border-right: 1px solid $dark-10;
    hr {
      margin-top: 0;
      margin-bottom: 0;
    }
    > ul {
      padding: 15px;
    }
    ul li ul {
      padding-left: 10px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin: 15px 0;
        font-size: 14px;
      }
    }
  }
}
